.Contenedor1{
    background-color: aquamarine;
    position:relative;
    width: 550px;
    left: 100px;
    top: 130px;
    border-style: solid;
    border-color:brown;

}

.Contenedor2{
    background-color: aquamarine;
    position: relative;
    width: 500px;
    left: 670px;
    bottom: 242px;
    border-style: solid;
    border-color:brown;
}

body{
    background-color:silver
}

h1{
    position:relative;
    left: 580px;
    top: 130px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:crimson;
}
